@import url('https://newsapi.org/v2/everything?q=tesla&from=2021-06-05&sortBy=publishedAt&apiKey=38380f03040647aab2ed13f19e5cb887');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main_heading{
  color: rgb(23, 240, 240);
  text-align: center;
  margin: 2rem 0rem;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-shadow: 0 4px 2px -2px gray;
  transition: 0.5s;
  text-transform: capitalize;

  }
  .main_heading:hover {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc,
        0 7px 0 #ccc, 0 8px 0 #ccc,
        0 9px 0 #ccc, 0 10px 0 #ccc,
        0 11px 0 #ccc, 0 12px 0 #ccc,
        0 20px 30px rgba(0, 0, 0, 0.5);
}
.container{
  width: 100w;

}
.center_div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  
}
.box_div{
/*   
  width: 30rem;
  margin: auto; */
  padding: 2rem;
  /* background-color: blueviolet; */
  
}
.box_div h2{
  text-align: justify;
  margin-top: 1rem;

}
.image{
  border-radius: 2rem;
  max-width: 100%;
  
  
}

.discription_div{
background-color: rgba(196, 248, 248, 0.116);
margin:0.5rem 0rem ;
padding: 0.5rem 0rem;

}
.discription_link{
  text-decoration :none;
  color: blue;
}
.btn_style{
  border-radius: 3rem;
  padding: 0.6rem;
  border: none;
  background-color: rgba(19, 189, 211, 0.418);
  cursor: pointer;
}
.btn_style:hover{
  
  background-color: rgba(24, 24, 238, 0.521);

}
.discription{
  margin-bottom: 1rem;
}